{% extends "allianceauth/base.html" %}
{% load bootstrap %}
{% load staticfiles %}
{% load i18n %}

{% block title %}Alliance Auth - Standings Tool {% endblock %}

{% block page_title %}Request Standings{% endblock page_title %}
{% block extra_css %}
{% include "standings-requests/bundles/angular.html" %}
{% endblock extra_css %}

{% block content %}
    {% include 'standings-requests/partials/_menu.html' %}
    <div ng-app="standingsApp" ng-controller="ViewRequestsController">
        <error-messages></error-messages>
        <!-- Requests -->
        <div class="col-lg-12 container">
            <h2 style="margin-top:0;">{% trans "Requests" %}</h2>
            <div class="col-lg-12 container">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-condensed table-hover table-striped">
                            <tr>
                                <th class="col-md-2">{% trans "Contact Name" %}</th>
                                <th class="col-md-1">{% trans "Corporation" %}</th>
                                <th class="col-md-1">{% trans "Alliance" %}</th>
                                <th class="col-md-1">{% trans "Type" %}</th>
                                <th class="col-md-2">{% trans "Main Character" %}</th>
                                <th class="col-md-1">{% trans "Scopes" %}</th>
                                <th class="col-md-1">{% trans "State" %}</th>
                                <th class="col-md-1">{% trans "Actioned" %}</th>
                                <th class="col-md-1">{% trans "Effective" %}</th>
                                <th class="col-md-1" title="Reject and delete this standings request">{% trans "Reject" %}</th>
                            </tr>
                            {% verbatim %}
                            <tr ng-repeat="contact in requests">
                                <td>
                                    <clipboard-copy copy="contact.contact_name"></clipboard-copy>
                                </td>
                                <td>
                                    <span ng-show="contact.corporation_ticker">
                                        [{{ contact.corporation_ticker }}] {{ contact.corporation_name }}
                                    </span>
                                </td>
                                <td>
                                    <span ng-show="contact.alliance_name" ng-bind="contact.alliance_name"></span>
                                </td>
                                <td>
                                    <span ng-show="contact.is_corp">Corp</span>
                                    <span ng-show="contact.is_pilot">Pilot</span>
                                </td>
                                <td>
                                    <span ng-show="contact.main_character_ticker">
                                        [{{ contact.main_character_ticker }}] {{ contact.main_character_name }}
                                    </span>
                                </td>
                                <td>
                                    <bool-checkmark value="contact.has_scopes" true-title="Has required scopes" false-title="Missing required scopes"></bool-checkmark>
                                </td>
                                <td>
                                    {{contact.state}}
                                </td>
                                <td>
                                    <span ng-bind="contact.action_by" ng-show="contact.actioned"></span>
                                </td>
                                <td>
                                    <bool-checkmark value="contact.effective" true-title="Standing Effective" false-title="Standing not effective"></bool-checkmark>
                                </td>
                                <td>
                                    <span style="font-size:1.5em; cursor: pointer;" title="Reject" ng-click="rejectRequest(contact)">
                                        <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                    </span>
                                </td>
                            </tr>
                            {% endverbatim %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block extra_javascript %}
    <script type="text/javascript">
        {% include 'standings-requests/partials/_angular_urls.html' %}
    </script>
    <script src="{% static 'standings-requests/app.js' %}"></script>
    <script src="{% static 'standings-requests/error.js' %}"></script>
    <script src="{% static 'standings-requests/standings_filter.js' %}"></script>
    <script src="{% static 'standings-requests/manage.js' %}"></script>
    <script src="{% static 'standings-requests/requests.js' %}"></script>
{% endblock extra_javascript %}
