{% extends "allianceauth/base.html" %}
{% load bootstrap %}
{% load staticfiles %}
{% load i18n %}

{% block title %}Alliance Auth - Standings Tool {% endblock %}

{% block page_title %}Request Standings{% endblock page_title %}
{% block extra_css %}
{% include "standings-requests/bundles/angular.html" %}
{% endblock extra_css %}

{% block content %}
    {% include 'standings-requests/partials/_menu.html' %}
    <div ng-app="standingsApp" ng-controller="PilotListController">
        <standings-filter-controls states="true" scopes="true"></standings-filter-controls>
        <div class="col-lg-12 container">
            <h1 class="page-header">
                {% trans "Pilots" %}
                {% if perms.standingstool.download %}
                <div class="pull-right"><a href="{% url "standings-requests:download_pilots" %}" class="btn btn-info">{% trans "Download" %}</a></div>
                {% endif %}
            </h1>
            <div class="pull-left">
                This data is cached for up to 10 minutes.<br/>
                Last API Update: {{ lastUpdate | date:"SHORT_DATETIME_FORMAT" }}
            </div>
            <div class="pull-right form-inline">
                <div class="form-group" style="padding-bottom:1.9em;">
                    <label for="userPageSize">Page size</label>
                    <select id="userPageSize" type="text" ng-model="pageSize" class="form-control" style="width:5em;">
                        <option value="10">10</option>
                        <option value="50" selected>50</option>
                        <option value="100">100</option>
                        <option value="500">500</option>
                        <option value="1000">1000</option>
                        <option value="">Everything</option>
                    </select>
                </div>
                <ul uib-pagination total-items="filteredStandings.length" ng-model="currentPage" max-size="5"
                    boundary-link-numbers="true" boundary-links="true" style="margin:0;"
                    items-per-page="pageSize"
                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
            </div>
            <div class="col-lg-12 container">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-condensed table-hover table-striped">
                            <tr>
                                <th class="col-md-2">{% trans "Character" %}</th>
                                <th class="col-md-2">{% trans "Corporation" %}</th>
                                <th class="col-md-2">{% trans "Alliance" %}</th>
                                <th class="col-md-2">{% trans "Main Character" %}</th>
                                <th class="col-md-1">{% trans "Standing" %}</th>
                                <th class="col-md-1">{% trans "Scopes" %}</th>
                                <th class="col-md-1">{% trans "State" %}</th>
                                <th class="col-md-1">{% trans "Labels" %}</th>
                            </tr>
                            {% verbatim %}
                            <tr ng-repeat="character in filteredStandings = (pilots | filterStandings) | limitTo : pageSize : (currentPage-1) * pageSize">
                                <td>
                                    <clipboard-copy copy="character.character_name"></clipboard-copy>
                                </td>
                                <td>
                                    <span ng-show="character.corporation_ticker">
                                        [{{ character.corporation_ticker }}]
                                    </span>
                                    <span ng-show="character.corporation_name">
                                        {{ character.corporation_name }}
                                    </span>
                                </td>
                                <td>
                                    <span ng-show="character.alliance_name" ng-bind="character.alliance_name"></span>
                                </td>
                                <td>
                                    <span ng-show="character.main_character_ticker">
                                        [{{ character.main_character_ticker }}]
                                    </span>
                                    <span ng-show="character.main_character_name">
                                        {{ character.main_character_name }}
                                    </span>
                                </td>
                                <td>
                                    <span style="font-size:1.5em;">
                                        <standings-icon standing="character.standing"></standings-icon>
                                    </span>
                                </td>
                                <td>
                                    <bool-checkmark value="character.has_required_scopes" true-title="Has required scopes" false-title="Missing required scopes"></bool-checkmark>
                                </td>
                                <td>
                                    {{character.state}}
                                </td>
                                <td>
                                    <span ng-repeat="label in character.labels" ng-bind="label"></span>
                                </td>
                            </tr>
                            {% endverbatim %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block extra_javascript %}
    <script type="text/javascript">
        {% include 'standings-requests/partials/_angular_urls.html' %}
    </script>
    <script src="{% static 'standings-requests/app.js' %}"></script>
    <script src="{% static 'standings-requests/standings_filter.js' %}"></script>
    <script src="{% static 'standings-requests/view_pilots.js' %}"></script>
{% endblock extra_javascript %}
